.videos-page {
    padding-top: 100px;

    .videos {
        background-color: white;
        padding: 10px;

        .video {
            position: relative;
            width: 100%;

            img {
                width: 100%;
            }

            .title {
                font-weight: 500;
                margin-bottom: 20px;
                margin-top:10px;
                color: $color-dark;
                text-transform: capitalize;
                @include ellipsis;
            }

            .play {
                position: absolute;
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }


        .search-container {
            padding-top:10px;
            padding-bottom: 10px;
        }

    }


    .main-video {
        background-color: white;
        padding: 10px;

        .player {

            .title {
                font-size: 23px;
                font-weight: 300;
                font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
                padding: 10px 0;
            }
        }
    }

}
