.videos-page {
    padding-top: 100px;

    .videos {
        background-color: white;
        padding: 10px;

        .video {
            position: relative;
            width: 100%;

            img {
                width: 100%;
            }

            .title {
                font-weight: 300;
                margin-bottom: 20px;
                margin-top:10px;
                color: $color-dark;
                text-transform: capitalize;
                font-size: 15px;
                @include ellipsis;
            }

            .play {
                position: absolute;
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }


        .search-container {
            padding-top:10px;
            padding-bottom: 10px;
        }

    }


    .main-video {
        background-color: white;
        padding: 10px;

        .player {

            .title {
                font-size: 23px;
                font-weight: 300;
                font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
                padding: 10px 0;
            }
        }
    }

    .playlist {
        background-color: white;
        padding: 10px;

        h4 {
            font-size: 20px;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 10px;
        }
        .item {
            width: 100%;
            padding: 0;
            margin-bottom: 10px;
            height: 63px;
            border-bottom: 1px solid #eee;
            overflow: hidden;

            img {
                width: 100px;
                height: auto;
                float: left;
                margin-right: 10px;
            }

            .title {
                color: $color-dark;
                font-size: 14px;
                text-transform: capitalize;
                font-weight: 300;
            }
        }
    }


    .main_lists {
        margin-bottom: 40px;
        font-family: 'Source Sans Pro', 'Open Sans', sans-serif;

        .main {
            .title {
                font-size: 23px;
                font-weight: 300;
                padding: 10px 0;
            }
        }

        .playlists {
            h4 {
                font-size: 18px;
                font-weight: 400;
                color: $color-teal;
            }

            li {
                font-size: 16px;
                line-height: 26px;

                i {margin-right: 10px;}
            }
        }
    }

}
